
      @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    border: none;

}

body{
    background-color: #f9f9f9;
    font-family: Inter, sans-serif;
}

img{
    max-width: 100%;
}

.container{
    margin-left: 16%;
}




.button-primary{
    background-color: #00A9A5;
    color: #fff;
}

.button-secondary{
    background: #EEEEEE;
    color: #00A9A5;
}

a{
    text-decoration: none;
    color: inherit;
}
.page-padding{
    padding-inline: 32px;  
}
  
.padding-vertical-large{
    padding: 96px 0;
}

.padding-vertical-small{
    padding: 20px 0;
}
.navbar{
    position: sticky;
    top:0;
    position: -webkit-sticky;
    background-color: white;
    padding: 16px 0;
    box-shadow: 0px 0px 42px rgba(0, 27, 29, 0.08);
    z-index: 999;
}

.nav_block-left{
    display: flex;
    align-items: center;
    gap: 16px;
}

.nav_block-right{
    display: flex;
    align-items: center;
    gap: 26px
}

.navbar-brand{
    max-width: 65.6px;
}
.side-nav{
    width: 15.5%;
    background-color: white;
    height: 100vh;
    position: fixed;
    padding-top: 128px;
    top: 0;
    left: 0;
    border-right: 1px solid #CCEEED;
    z-index: 998;
    overflow: auto;
}

.side-nav_links{
    display: flex;
    align-items: center;
    gap: 24px;
    width: 100%;
    padding: 24px 34px;
    font-size: 12px;
}

.side-nav_links.active{
    background-color: #F5F5F5;
}
.side-nav-top{
  border-bottom: 1px solid #D9D9D9;
}

.nav-wrapper{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
}

.nav-menu{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav_block-left{
  flex-shrink: 0;
}

.nav_block-right{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.nav-links-wrapper{
    display: flex;
}

.form-inline{
    display: flex;
}

.form-control{
    padding: .75rem 1rem;
    width: 20rem;
    border: 1px solid #737171;
    border-radius: 4px 0px 0px 4px;
}
.button{
    padding: 8px 16px;
    border-radius: 8px;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
}
.nav-mic{
    background-color: rgba(0, 0, 0, 0);
    margin-left: 16px;
}


.button-search{
    padding: 12px 16px;
    background: #EEEEEE;
    border-width: 1px 1px 1px 0px;
    border-style: solid;
    border-color: #737171;
    border-radius: 0px 4px 4px 0px;
    color:  #737171;
}

.nav_button-wrapper{
    display: flex;
    gap: 16px;
}

.filter-tag-wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap:32px;
}
.filter-tag{
    font-weight: 400;
}
.filter-tag.active{
    background: #00A9A5;
    color: #fff;
    padding-inline: 26px;
}
.explore_content-wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.card-body{
    display: flex;
    padding: 1rem 0;
}

.thumbnail{
    width: 32px;
    height: 32px;
    flex-shrink: 0;
    background-color: rgba(0,0,0,.1);
    border-radius: 50%;
    margin-right: 16px;
}

.card-title{
    font-size: 16px;
    font-weight: 500;
}

.card{
    width: 23.3%;
    min-width: 260px;
}
.card-img-top{
  width: 100%;
}
.card-img-wrapper{
  position: relative;
}
.timestamp{
  position: absolute;
  bottom: 6px;
  right: 6px;
  color: #fff;
  font-size: 9px;
  background-color: rgba(66, 66, 66, 0.8);
  border-radius: 5px;
  padding: 5px 10px;
}

.video-desc p{
    color:#737171;
    line-height: 2;
    font-size: 12px;
    margin-top: 8px;
}

.video-info{
    display: flex;
    align-items: center;
}

@media only screen and (max-width: 1390px){
  .card{
      width: 30%;
  }
  
}
@media only screen and (max-width: 1055px){
  .card{
      width: 48%;
  }
  .side-nav{
    display: none;
}
.container{
    margin-left: 0;
}

  
}
@media only screen and (max-width: 767px){
    .card{
        width: 100%;
        max-width: 396px;
    }
    .side-nav{
        display: none;
    }
    .upload-video-icon{
      display: none;
    }
    .nav-mic{
      display: none;
    }
    .container{
        margin-left: 0;
    }
    .filter-tag-wrapper{
      display: none;
    }
    .page-padding{
    padding-inline: 16px;  
}
}
