{% extends "base.html" %}

{% block content %}

<fieldset name="Video File Upload and Display">
	{% if msg %} {% autoescape off %} {{ msg }} {% endautoescape %} {% endif %}

	<script>
		var _validFileExtensions = [".mp4", ".mov"];
		function Validate(oForm) {
			var arrInputs = oForm.getElementsByTagName("input");
			for (var i = 0; i < arrInputs.length; i++) {
				var oInput = arrInputs[i]; if (oInput.type == "file") {
					var
					sFileName = oInput.value; 
						var blnValid = false;
						for (var j = 0; j < _validFileExtensions.length; j++) {
							var sCurExtension = _validFileExtensions[j]; if
								(sFileName.substr(sFileName.length - sCurExtension.length,
									sCurExtension.length).toLowerCase() == sCurExtension.toLowerCase()) { blnValid = true; break; }
						} if (!blnValid) {
							alert("Invalid File Format, allowed extensions are: " + _validFileExtensions.join(" , "));
							return false;
						}
				}
			}

			return true;
		}
	</script>

	<form method="post" action="{% url 'movies:new_movie' %}" enctype="multipart/form-data" onsubmit="return Validate(this);">
		
		{% csrf_token %}
				<label>Add Video Title</label>&nbsp;&nbsp;
				<br>
				<input type="text" name="title" autocomplete="off" >
				<br>
				<br>
				<label>Add Video Description</label>&nbsp;&nbsp;
				<br>
				<input type="text" name="description" autocomplete="on">
				<br>
				<br>
				<label>Browse and select a video file</label>&nbsp;&nbsp;
				<br>
				<input type="file" name="video" autocomplete="off" required accept="video/*">
				
				<script>
					// create the video element but don't add it to the page
					var vid = document.createElement('video');

					document.querySelector('input[name = "video"]').addEventListener('change', function valid() {
						// create url to use as the src of the video
						var fileURL = URL.createObjectURL(this.files[0]);

						vid.src = fileURL;
						// wait for duration to change from NaN to the actual duration

						vid.ondurationchange = function () {

							if ((this.duration) > 900) {
								alert("Video must be less than 15 minutes");
								window.location.reload();
							}
						};
					});
				</script>
								
<!-- {{ form.as_p }} -->
		<p>
			<button type="submit" onclick="valid()">Upload Video </button>
		</p>
	</form>
</fieldset> 	

{% endblock content %}