<!DOCTYPE html>
<html>
    <head>
        <title>Add a new Movie.</title>
    </head>
    <body>
        <nav>
            {% if request.user.is_authenticated %}
                {% if request.user.userinfo.user_type == "Student" %}
                    <ul>
                        <li>Hello, {{ request.user.username }}</li>
                        <li>You are a {{ request.user.userinfo.user_type }}</li>
                        <li><a class="nav-link" href="{% url 'movies:index'%}">Home</a></li>
                        <li><a class="nav-link" href="{% url 'movies:all_movies'%}">Movies</a></li>
                        <li><a class="nav-link" href="{% url 'accounts:profile' %}">My Profile</a></li>
                        <li><a class="nav-link" href="{% url 'accounts:list_favourites' %}">My Favourites</a></li>
                        <li><a class="nav-link" href="{% url 'movies:new_movie'%}">Add Movie</a></li>
                        <li><a class="nav-link" href="{% url 'accounts:logout' %}">Log Out</a></li>

                    </ul>                
                {% else %}
                    <ul>
                        <li>Hello, {{ request.user.username }}</li>
                        <li>You are a {{ request.user.userinfo.user_type }}</li>
                        <li><a class="nav-link" href="{% url 'movies:index'%}">Home</a></li>
                        <li><a class="nav-link" href="{% url 'movies:all_movies'%}">Movies</a></li>
                        <li><a class="nav-link" href="{% url 'accounts:list_favourites' %}">Favourites</a></li>
                        <li><a class="nav-link" href="{% url 'accounts:logout' %}">Log Out</a></li>
                    </ul>
                {% endif %}
            {% else %}
            <ul>
                <li><a class="nav-link" href="{% url 'movies:index' %}">Home</a></li>
                <li><a class="nav-link" href="{% url 'movies:all_movies' %}">Movies</a></li>
                <li><a class="nav-link" href="{% url 'accounts:register' %}">Sign Up</a></li>
                <li><a class="nav-link" href="{% url 'accounts:login' %}">Log In</a></li>
            </ul>

            {% endif %}
        </nav>
		<div style="width: 90%; margin: auto;">
            {% block content %}
                
            {% endblock content %}
		</div>	
    </body>
</html>


