{% extends "base.html" %}

{% block page_header %}
    <h2>Create An Account.</h2>
{% endblock page_header %}

{% block content %}

<form action="{% url 'accounts:register' %}" method="post" class="form" enctype="multipart/form-data">
    {% csrf_token %}
    <p>
        <label for="id_username">Username:</label>
        <input type="text" name="username" maxlength="150" autofocus required id="id_username">

        <span class="helptext">Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.</span>
    </p>

    <ul class="errorlist">
        <li>This field is required.</li>
    </ul>
    <p>
        <label for="id_email">Email:</label>
        <input type="email" name="email" required id="id_email">
    </p>

    <ul class="errorlist">
        <li>This field is required.</li>
    </ul>
    <p>
        <label for="id_first_name">First name:</label>
        <input type="text" name="first_name" maxlength="30" required id="id_first_name">
    </p>

    <ul class="errorlist">
        <li>This field is required.</li>
    </ul>
    <p>
        <label for="id_last_name">Last name:</label>
        <input type="text" name="last_name" maxlength="150" required id="id_last_name">
    </p>

    <p>
        <label for="id_password1">Password:</label>
        <input type="password" name="password1" autocomplete="new-password" required id="id_password1">
    </p>

    <ul class="errorlist">
        <li>This field is required.</li>
    </ul>
    <p>
        <label for="id_password2">Password confirmation:</label>
        <input type="password" name="password2" autocomplete="new-password" required id="id_password2">

        <span class="helptext">Enter the same password as before, for verification.</span>

    </p>
    <ul class="errorlist">
        <li>This field is required.</li>
    </ul>
    <p>
        <label for="id_user_type">User type:</label>
        <select name="user_type" required id="id_user_type">
            <option value="" selected>select</option>

            <option value="Viewer">Viewer</option>

            <option value="Student">Student</option>

        </select>
    </p>

    <p>
        <label for="id_school">School:</label>
        <input type="text" name="school" maxlength="100" id="id_school">
    </p>

    <p>
        <label for="id_avatar">Avatar:</label>
        <input type="file" name="avatar" id="id_avatar">
    </p>

    <button name="submit" class="btn btn-primary">Register</button>
    
    <input type="hidden" name="next" value="{% url 'movies:index' %}" />
</form>
{% endblock content %}

