<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
    <link rel="stylesheet" href="{% static 'css/sign_in.css' %}">
</head>

<body>
    <div class="split-screen">
        <!-- TO BE DISPLAYED ON MOBILE -->
        <div class="grid-container mobile">
            <div class="color2"></div>
            <!-- <div>2</div> -->
            <div class="img3 grid-item">
                <img src="{% static 'assets/images/img3.png' %}" height="200" width="200">
            </div>
            <div class="color3"></div>
        </div>

        <!-- END TO BE DISPLAYED ON MOBILE -->

        <div class="contentbx">
            <div class="loginframe">
                <div class="logo">
                    <p id="versity">versity</p>
                    <p>vines</p>
                </div>
                <section class="copy">
                    <h1>Welcome Back</h1>
                    <p>Please enter your details.</p>
                </section>
                <form method="post">
                    {% csrf_token %}
                    <div class="input-container email">
                        <label for="username" class="mb-3">Username</label>
                        <input id="username_id" name="username" placeholder="Enter your Username" type="text" class="mb-15">
                    </div>
                    <div class="input-container password">
                        <label for="password" class="mb-3">Password</label>
                        <input id="password" name="password" placeholder="Enter your password" type="password"
                            class="mb-15">
                    </div>
                    <div class="remember mb-15">
                        <div><input type="checkbox" name="" /><label>Remember me</label></div>
                        <a href="#">Forgot Password?</a>
                    </div>
                    <div>
                        <button type="submit" class="btn mb-15">Login to your account</button>
                    </div>
                    <div class="no-account">
                        <p>Don't have an account yet? <a href="{% url 'accounts:register' %}">Sign up for free</a></p>
                    </div>
                </form>
            </div>
        </div>
        <div class="imgbx grid-container">
            <div class="img1 grid-item">
                <img src="{% static 'assets/images/img..png' %}" height="200" width="200">
            </div>
            <div class="color1 grid-item"></div>

            <div class="img2 grid-item">
                <img src="{% static 'assets/images/img2.png' %}" height="200" width="200">
            </div>
            <div class="color2 grid-item"></div>

            <div class="img3 grid-item">
                <img src="{% static 'assets/images/img3.png'%}" height="200" width="200">
            </div>
            <div class="color3 grid-item"></div>

            <div class="img4 grid-item">
                <img src="{% static 'assets/images/img4png.png' %}" height="200" width="200">
            </div>
            <div class="color4 grid-item"></div>

            <div class="img5 grid-item">
                <img src="{% static 'assets/images/img5.png' %}" height="200" width="200">
            </div>
            <div class="color5 grid-item"></div>

            <div class="img6 grid-item">
                <img src="{% static 'assets/images/img6png.png' %}" height="200" width="200">
            </div>
            <div class="color6 grid-item"></div>
        </div>
    </div>
</body>

</html>
