<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Swift - {% block title %} {% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    {% block more %} 
        <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
    {% endblock more %}

</head>
<body>

{% block content %} 

{% endblock content %}

</body>

</html>